@model CarSystem.Web.Models.CarsMod.AddCarViewModel
@Html.Partial("_NavbarTop")
<style>
    .wide{
        width:400px;

    }
</style>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#BrandId").change(function () {
               
            $.ajax({
                cache:false,
                type: "POST",
                url: "/Car/GetCarModelsByBrandId",
                data: { BrandId: $("#BrandId").val()},
                success: function (models) {
                    $("#CarModelsId").empty();

                    $.each(models, function (i, model) {
                        $('#CarModelsId').append('<option value="' + model.Value + '">' + model.Text + '</option>')
                    });
                }
                });
        })
               
    });
        
</script>

<h2>Add new Car</h2>
@using (Html.BeginForm("AddCar", "Car", FormMethod.Post , new { @class="form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
       
        @Html.LabelFor(m => m.Brand)
        @Html.DropDownListFor(m => m.BrandId, Model.Brands,"--Please select brand--", new {@class = "form-control" })
        @Html.ValidationMessageFor(m => m.BrandId)
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.CarModel)
        @Html.DropDownListFor(m => m.CarModelsId, new SelectList(String.Empty,"Value","Text"),"--Please select car model--", new {@class = "form-control" })
        @Html.ValidationMessageFor(m => m.CarModelsId)
       @*@Html.LabelFor(m => m.CarModel)
    @Html.TextBoxFor(m => m.CarModel, new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CarModel)*@ 

    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Engine)
        @Html.TextBoxFor(m => m.Engine, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Engine)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Mileage)
        @Html.TextBoxFor(m => m.Mileage, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Mileage)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Color)
        @Html.EnumDropDownListFor(m => m.Color, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.Color)
    </div>
    
    <div class="form-group">
       @Html.LabelFor(m => m.PicturePath)
       @Html.TextBox("file", "", new { type = "file" })
    @*<input type="text" name="DocumentNumber" />*@
    </div>
    <div class="form-group">
        @{
            var Year = new List<int>()
            {
                1995,
                1996,
                1997,
                1998,
                1999,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018
            };
        }
        @Html.LabelFor(m => m.Year)
        @Html.DropDownListFor(m => m.Year, new SelectList(Year), " ", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Year)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Price)
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Price)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", style="width=400px" })
        @Html.ValidationMessageFor(m => m.Description)
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
            }

   

@section scripts
           {
    @Scripts.Render("~/bundles/jqueryval")
}